NODE_ENV=example
PORT=example
MONGO_URI=example
JWT_SECRET=example

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=1234
SMTP_USER=your_mailtrap_user
SMTP_PASS=your_mailtrap_password

WEBHOOK_WAREHOUSE_URL=https://webhook.site/1234-example